<div class="row">
    <div class="col">
        <h2>{{results2.title}}</h2>
        <h5>{{results2.describe}} :</h5>
        <h5 class="text-primary">เปิดระบบ {{results2.open | date: 'dd/MM/yyyy'  }} ถึง {{results2.end | date: 'dd/MM/yyyy' }}</h5>
        <h5>สถานะ : <span *ngIf="results2.status === '1'">
            <button type="button" class="btn btn-success">OPEN</button>
          </span>
          <span *ngIf="results2.status === '0'">
            <button type="button" class="btn btn-danger">CLOSE</button>
          </span></h5>
    </div>
    <div class="col">
        <h5 class="card-header">ผู้สมัคร <a routerLink="/addcandidates/{{ results2.id }}" class="btn btn-sm btn-info text-white mb-2 ml-2"><i class='bx bx-plus'></i>ADD</a></h5>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>หมายเลข</th>
                    <th>IMG</th>
                    <th>ชื่อ</th>
                    <th>แนะนำตัวเบื้องต้น</th>
                    <th>แก้ไข</th>
                    <th>ลบ</th>
                </tr>
            </thead>
            <tbody *ngFor="let result of test">
                <!-- forEach from sql-->
                <tr>
                    <td>{{result[0].id}}</td>
                    <td>รูปภาพผู้สมัคร</td>
                    <td>{{result[0].firstname + ' ' +result[0].lastname}}</td>
                    <td>{{result[0].describe}}</td>
                    <td><a routerLink="/editcandidates/{{ result[0]._id }}" class="btn btn-sm btn-warning text-white">Edit</a></td>
                    <td><button class="btn btn-sm btn-danger text-white" (click)="deleteCandidate(result[0]._id)">Delete</button></td>
                </tr>
              
            </tbody>
          </table>
    </div>
  </div>