
        
    <ul class="nav nav-pills flex-column mt-4">
        <li class="nav-item py-2 py-sm-0">
            <a href="dashboard" class="nav-link text-white">
                <i class='bx bx-home'></i><span class="fs-6 d-none d-sm-inline"> หน้าหลัก</span>
            </a>
        </li>
        <li class="nav-item py-2 py-sm-0">
            <a href="manageuser" class="nav-link text-white">
                <i class='bx bx-user'></i><span class="fs-6 d-none d-sm-inline"> จัดการสมาชิก</span>
            </a>
        </li>
        <li class="nav-item py-2 py-sm-0">
            <a href="manageEvent" class="nav-link text-white">
                <i class='bx bx-edit'></i><span class="fs-6 d-none d-sm-inline"> จัดการ Event</span>
            </a>
        </li>
        <li class="nav-item py-2 py-sm-0">
            <a href="adminReport" class="nav-link text-white">
                <i class='bx bxs-report'></i><span class="fs-6 d-none d-sm-inline"> Report</span>
            </a>
        </li>
        <li class="nav-item py-2 py-sm-0">
            <a href="login" class="nav-link text-white">
                <i class='bx bx-log-out'></i><span class="fs-6 d-none d-sm-inline"> ออกจากระบบ</span>
            </a>
        </li>
        
    </ul>
