<div class="alert alert-success" role="alert">
    รายการเปิดโหวต/เลือกตั้ง Online
  </div>
<div class="row row-cols-2">
<div class="card w-50 mb-2" *ngFor="let result of results2">
    <div class="card-body">
      <h5 class="card-title">{{result.title}}</h5>
      <h5 class="card-title">เปิดถึงวันที่ {{result.open | date: 'dd/MM/yyyy'}} -{{result.end | date: 'dd/MM/yyyy'}} </h5>

      <p class="card-text">สถานะ :
        <span *ngIf="result.status === '1'">
        <button type="button" class="btn btn-success">OPEN</button>
      </span>
      <span *ngIf="result.status === '0'">
        <button type="button" class="btn btn-danger">CLOSE</button>
      </span>
      </p>
      <a routerLink="/detail/{{ result.id }}" class="btn btn-primary">DETAIL</a>
    </div>
  </div>
</div>
